*{
    width: auto;
    padding: 2px;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #F4F4FC;
    width: 640px;
    height: 724px;
    top: 622px;
    left: 200px;
}

header{
    width: 100px;
    height: 10px;
}

.logo{
    width: 100px;
    height: 50px;
    padding-top: 10px;
    padding-left: 40px;
}

main{
    position: auto;
    width: 70%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}

.caja-texto{
    width: 577px;
    height: 48px;
    position: absolute;
    top: 100px;
    left: 100px;
    border: none;
    background-color: #F4F4FC;
    cursor: pointer;
    color: #0A3871;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Inter',sans-serif;
    
}

.caja-texto::placeholder{
    color: #0A3871;

}

.alerta {
    width: 205px;
    height: 18px;
    opacity: 80%;
    position: absolute;
    top: 785px;
    left: 190px;    
    display: flex;
    color: #495057;
    padding: 1px;

}

.contenedor-botones{    
    display: flex;
    position: absolute;
    top: 700px;
    width: 680px;    
    height: 67px;
    padding-top: 140px;
    padding-left: 170px;
}

.btn-encriptador{
    width: 680px;
    height: 67px;
    border-radius: 24px;
    background-color: #0A3871;
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter'sans-serif;
    border: none;
    margin-right: 20px;
    
}

.btn-desencriptador{
    width: 680px;
    height: 67px;
    border-radius: 24px;
    background-color: #D8DFD8;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Inter'sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;

}

/*seccion 2*/

.seccion2{
    position: absolute;
    width: 400px;
    height: 900px;
    right: 600px;
    background-color: #ffffff;
    box-sizing: border-box;
    border-radius: 32px;
    box-shadow: 0px 24px 32px 8px rgba(0, 0, 0, 0.50);
}

.contenedor-resultado{
    position: relative;
    width: 320px;
    height: 450px;
    box-sizing: border-box;
    margin-left: 25px;
    color: #495057;
    font-size: 25px;
}

.contenedor-muneco{
    width: 336px;
    height: 304px;
    position: absolute;
    top: 283px;
    left: 12px;
    box-sizing: border-box;
   
}

.contenedor-parrafo h3{
    font-size: 24px;
    font-weight: 500px;
    font-family: 'Inter' sans-serif;
    text-align: center;
    color: #343A40;
    padding-left: 50px;
    padding-top: 120px;
    padding-right: 50px;
    padding-bottom: 10px;

}

.contenedor-parrafo p{
    font-family: 'Inter' sans-serif;
    font-weight: 400px;
    font-size: 16px;
    text-align: center;
    color: #495057;
    padding-top: 20px;
    
}


.contenedor-copiar{
    display: flex;
    position: auto;
    bottom: 400px;
    top: 700px;
    padding-left: 40px;
}

.btn-copiar{
    width: 328px;
    height: 67px;
    margin-top: 40px;
    border-radius: 24px;
    background-color: #ffffff;
    color: #0A3871;
    font-size: 16px;
    font-weight: 400px;
    font-family: 'Inter'sans-serif;
    border: 1px solid #0A3871;
    cursor: pointer;
    position: auto;
    top: 100px;
    right: 4px;

}

.ocultar{
    display: none;
}

@media screen and (max-width:480px){
    
}